.jh0000-wrapper{
    display: flex;
    flex-wrap: wrap;

    .input-items-wrapper{
        width: 100%;
        padding: 16px;
    }

    .field-item{
        margin: 16px;
    }

    .footer-butons{
        text-align: center;
        padding: 16px;
    }
}