// ======================================================================
// Project Name    : fd-app(on github hidepy)
// Creation Date   : 2020/04/30
// 
// Copyright © 2020 hideyuki.kawamura. All rights reserved.
// 
// This source code or any portion thereof must not be  
// reproduced or used in any manner whatsoever.
// ======================================================================

.OM0105-wrapper{

    .iri-niyo-wrapper{
        #iri-niyo-header{
            padding: 0;
        }
        #iri-niyo-body{
            .MuiExpansionPanelDetails-root{
                padding: 8px;
            }
        }
    }

    .ftisgyo-no-disp .ftiSgyoUtwk{
        display: none;
    }
    .ftisgyo-no-disp #ftiSgyoUtwk{
        background-color: #303f9f;
        color: #fff;
    }
    .ftiSgyoUtwk.margin-left{
        margin-left: 96px !important;
    }

    .footer-buttons{
        text-align: center;
        
        button{
            margin: 8px;
        }
    }
}