.OM0105-wrapper{

    .iri-niyo-wrapper{
        #iri-niyo-header{
            padding: 0;
        }
        #iri-niyo-body{
            .MuiExpansionPanelDetails-root{
                padding: 8px;
            }
        }
    }

    .footer-buttons{
        text-align: center;
        
        button{
            margin: 8px;
        }
    }
}