// ======================================================================
// Project Name    : fd-app(on github hidepy)
// Creation Date   : 2020/04/30
// 
// Copyright © 2020 hideyuki.kawamura. All rights reserved.
// 
// This source code or any portion thereof must not be  
// reproduced or used in any manner whatsoever.
// ======================================================================

.contents-wrap{

    .inner-wrapper{
        .field-item{
            margin: 16px;
            width: 240px;
        }
    }

    .inner-wrapper .MuiPaper-root{
        padding: 16px;
        margin: 16px 0;
    }

    
    .footer-butons{
        text-align: center;
    }

}
