.contents-wrap{

    .inner-wrapper{
        .field-item{
            margin: 16px;
            width: 240px;
        }
    }

    .inner-wrapper .MuiPaper-root{
        padding: 16px;
        margin: 16px 0;
    }

    

}