.trhksk-mst-popup-wrapper{

}

.trhksk-mst-popup-inner{
    background-color: #fff;
    padding: 32px;

    .MuiPaper-root{
        margin: 16px;
    }

    .MuiFormControl-root, .MuiButtonBase-root{
        margin: 16px;
    }

}